@{
    ViewData["Title"] = "Confirmação para apagar contato";
}

<div class="text-center">
    <h3>Deseja apagar esse contato ?</h3>
    <a class="btn btn-primary  mb-2"" role="button">Cancelar exclusão</a>
    <a class="btn btn-danger  mb-2"" role="button">Confirmar exclusão</a>
</div>

